    
    


    body {
        background-color: hsl(212, 45%, 89%);
        text-align: center;
    }
    

    .container {
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-items: center;
        border-radius: 30px;
        width: 350px;
        margin: 70px auto;
        background-color: hsl(0, 0%, 100%);
    }


    img {
        border-radius: 25px;
        width: 320px;
        margin: 12px;
        
    }


    h1 {
        margin: 20px 10px;
        font-size: 27px;
    }


    .para {
        font-size: 15px;
        margin: 0 60px 50px 60px;
    }


    